{% extends "student/base.html" %}
{% block content %}

    <div class="container">

        
<div class="jumbotron text-center" style="background-color:#f2f2f2;" >


  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                       
                   </div>


 <div class="row">
   
  <div class="col-xl-4 col-md-6 mb-4">

     <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-center text-primary text-uppercase mb-1">
                                                Number of Students</div>
                                            <div class="h5 mb-0 font-weight-bold text-center text-gray-800">{{numofstudent}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>





     <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-center text-primary text-uppercase mb-1">
                                                Average GPA</div>
                                            <div class="h5 mb-0 font-weight-bold text-center text-gray-800">{{avggpa}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                


 <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-center text-primary text-uppercase mb-1">
                                                Number of Courses</div>
                                            <div class="h5 mb-0 font-weight-bold text-center text-gray-800">{{numofcourse}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

             </div>


                    <div class="row">

                       
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-center text-danger text-uppercase mb-1">
                                                Number of Freshmen</div>
                                            <div class="h5 mb-0 font-weight-bold text-center text-gray-800">{{numoffreshmen}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                       
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-center text-success text-uppercase mb-1">
                                                Number of Juniors </div>
                                            <div class="h5 mb-0 font-weight-bold text-center text-gray-800">{{numofjunior}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                       
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-center text-warning text-uppercase mb-1">
                                                Number of Seniors</div>
                                            <div class="h5 mb-0 font-weight-bold text-center text-gray-800">{{numofsenior}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
                                

  </div>


        
         
          



        </div>
        
    </div>

{% endblock %}
    
